HELP.md
/target/
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
logs/

LOG_DIR_IS_UNDEFINED

deploy/*.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.iml

rebel.xml

adp/*.jar
adp-jdk8/*.jar

.DS_Store